src/main/resources/xsd/reservation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://hotel.com/soap"
           xmlns:tns="http://hotel.com/soap"
           elementFormDefault="qualified">

    <xs:element name="GetReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservation" type="tns:Reservation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservation" type="tns:Reservation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservation" type="tns:Reservation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UpdateReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="reservation" type="tns:Reservation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UpdateReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservation" type="tns:Reservation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DeleteReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DeleteReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Reservation">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="client" type="tns:Client" minOccurs="0"/>
            <xs:element name="chambre" type="tns:Chambre" minOccurs="0"/>
            <xs:element name="dateDebut" type="xs:date"/>
            <xs:element name="dateFin" type="xs:date"/>
            <xs:element name="preferences" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Client">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="prenom" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="telephone" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Chambre">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="prix" type="xs:double"/>
            <xs:element name="disponible" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>

